body{
    background-color: #232323;
}
h1{
	color: #ffffff;
}
h2{
	color: #ffffff;
}
.Border{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	padding: 35px;
	border-top: dotted;
	border-left: dotted;
	border-right: 10px solid #00000070;
	border-bottom: 10px solid;
	background-color: #303030;
}